# === Supabase ===
SUPABASE_URL=https://zcfrbhrqvneomseqmqam.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjZnJiaHJxdm5lb21zZXFtcWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NTEyNDEsImV4cCI6MjA5NDQyNzI0MX0.ze8wkeENwWi2hO64xPOy0K6ixdpJh-5tcHWQRjw0UZo
SUPABASE_SERVICE_KEY=sb_secret_25jfIn7Icgwf3c1Ww08uVQ_boinOCB-

# === PayPal ===
PAYPAL_CLIENT_ID=AfiCozWm22-nOPIbyJVjlY2vBunbh8JfNOTIAJfeRqqbo--NrFpsLuyH2UNCcqejhiR5JL1MOlJpe0Se
PAYPAL_CLIENT_SECRET=EPdc_m88HIiiP8bjEYQpEEFYDi4qYLIujDigwLGmQTlUU3ZJmx2lFYd6jtXcflk2JQmEPMnxwA4F3Jot
PAYPAL_WEBHOOK_ID=your-paypal-webhook-id
PAYPAL_PRO_PLAN_ID=P-26U049863C2641032NIQXMPY
PAYPAL_SANDBOX=true

# === Gateway ===
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8080
PUBLIC_URL=http://localhost:8080

# === Ngrok (dev only) ===
NGROK_AUTH_TOKEN=

# === Planos ===
FREE_TIER_MAX_SERVERS=1
FREE_TIER_RPM=10
PRO_TIER_MAX_SERVERS=10
PRO_TIER_RPM=100
